.transaction-container{
    background-color: rgb(231, 231, 231);padding:25px;
}
label{margin-top:15px}
.submit-btn{
    margin-top:12px
}
button {text-align: center;border-radius: 15px; border: 2px solid #73AD21; width: fit-content; margin: 5px; padding: 10px;}