.view{
    background-color: rgb(56, 223, 245);padding:7px 2px 7px 2px;margin:2px;width:50px;font-size:13px;
}
.edit{
    background-color: rgb(19, 1, 68);padding:7px 2px 7px 2px;margin:2px;width:50px;font-size:13px;
}
.delete{
    background-color: rgb(78, 5, 5);padding:7px 2px 7px 2px;margin:2px;width:50px;font-size:13px;
}
.index-container{
    background-color: rgb(231, 231, 231);padding:25px;
}
table tr th{
    border:1px solid #cc54ae;text-align: center;
}
table tr td{
    border:1px solid #cc54ae;text-align: center;
}

input{
    width:25%;height:37px;margin-left:25px;border-radius:5px;border:0px solid rgb(0,0,0,0)
}
input::placeholder{
    padding-left:15px;color:Gray;font-weight: bold;font-size:16px;
}