<div class="container atm-data">
    <h2> Account Holder Transaction Details</h2>
    <table class="table">
        <tr>
            <td>Id :</td>
            <td>{{paramId}}</td>
        </tr>
        <tr>
            <td>User Id :</td>
            <td>{{paramUserId}}</td>
        </tr>
        <tr>
            <td>Date :</td>
            <td>{{paramDate}}</td>
        </tr>
        <tr>
            <td>Name :</td>
            <td>{{paramName}}</td>
        </tr>
        <tr>
            <td>Deposit :</td>
            <td>{{paramDeposit}}</td>
        </tr>
        <tr>
            <td>Withdraw :</td>
            <td>{{paramWithdraw}}</td>
        </tr>
        <tr>
            <td>Balance :</td>
            <td>{{paramBalance}}</td>
        </tr>
        <tr>
            <td>Location :</td>
            <td>{{paramLocation}}</td>
        </tr>
    </table>
</div>
