<div class="welcome-area">
    <div class="col-md-6 col-md-offset-3 loginBox">
        <h5>Welcome, <span>{{id}}</span></h5>
    </div>
</div>
<div class="page-sec">
    <div class="container">
        <div class="page-content">
            <nav style="text-align:center;">
                <button routerLink='/doc'>Documentation</button>
                <button routerLink='/post'>Project</button>
                <button routerLink='/atm'>ATM Project</button>
            </nav>
        </div>
    </div>
</div>
<router-outlet></router-outlet>