.material {
    padding: 25px;
    background-color: cornflowerblue;
}
button {text-align: center;border-radius: 7px; border: 2px solid #cc54ae; width: fit-content; margin: 5px; padding: 0px 15px 0px 15px;}